<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Make10Bubbles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD2F45A71C7BC89F00B43A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD2F45C51C7BC89F00B43A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD2F45D01C7BC89F00B43A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
